<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Tormenta20</title>
    <link rel="stylesheet" href="/projetoint/projetoint/templetes/CSS/Login.css">
</head>
<body>
    <div class="background">
        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Banners/Wallpaper login.jpg">
    </div>
    <div class="container">
        <div class="form-container">
            <form id="login" class="form active">
                <input type="email" id="login-email" placeholder="Email/User" required>
                <input type="password" id="login-password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>

            <form id="cadastro" class="form">
                <input type="text" id="cadastro-user" placeholder="Usuário" required>
                <input type="email" id="cadastro-email" placeholder="Email" required>
                <input type="password" id="cadastro-password" placeholder="Senha" required>
                <button type="submit">Cadastrar</button>
            </form>

            <form id="recuperar" class="form">
                <input type="email" id="recuperar-email" placeholder="Email cadastrado" required>
                <button type="submit">Recuperar Senha</button>
            </form>
            <div class="tabs">
                <button onclick="showTab('login')">Login</button>
                <button onclick="showTab('cadastro')">Cadastro</button>
                <button onclick="showTab('recuperar')">Recuperar Senha</button>
            </div>
        </div>
    </div>

    <script src="/projetoint/projetoint/templetes/JS/Login.js"></script>
</body>
</html>
