{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Seus Personagens</h2>

<p>Total de fichas: {{ characters|length }} / 4</p>



{% for character in characters %}
  {% if character.id %}
    <div class="character-card">
      <a href="{% url 'character_detail' character.id %}" style="text-decoration: none; color: inherit;">
  {% endif %}

        {% if character.image %}
          <img src="{{ character.image.url }}" alt="{{ character.name }}" style="max-height: 120px;">
        {% else %}
          <img src="{% static 'img/default.png' %}" alt="Sem imagem" style="max-height: 120px;">
        {% endif %}

        <h3>{{ character.name|default:"Sem nome" }}</h3>
        <p><strong>Classe:</strong> {{ character.char_class|default:"???" }}</p>
        <p><strong>Origem:</strong> {{ character.origin|default:"???" }}</p>
        <p><strong>Raça:</strong> {{ character.race|default:"???" }}</p>
        <p><strong>Deus:</strong> {{ character.deity|default:"???" }}</p>
        <p><strong>Nível:</strong> {{ character.level }}</p>

  {% if character.id %}
      </a>
    </div>
  {% endif %}
{% endfor %}



{% endblock %}
