
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'classe.css' %}">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="classe-icons">
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/wizard.png' %}" alt="Arcanista">
                        <span>Arcanista</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/barbarian (1).png' %}" alt="Bárbaro">
                        <span>Bárbaro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/jester.png' %}" alt="Bardo">
                        <span>Bardo</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/pirate.png' %}" alt="Bucaneiro">
                        <span>Bucaneiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/bow (1).png' %}" alt="Caçador">
                        <span>Caçador</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/knight (3).png' %}" alt="Cavaleiro">
                        <span>Cavaleiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/priest (1).png' %}" alt="Clérigo">
                        <span>Clérigo</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/druid.png' %}" alt="Druida">
                        <span>Druida</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/swordsman (1).png' %}" alt="Guerreiro">
                        <span>Guerreiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/alchemy (1).png' %}" alt="Inventor">
                        <span>Inventor</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/thief (1).png' %}" alt="Ladino">
                        <span>Ladino</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/martial.png' %}" alt="Lutador">
                        <span>Lutador</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/prince.png' %}" alt="Nobre">
                        <span>Nobre</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Icons/Clasess/knight (2).png' %}" alt="Paladino">
                        <span>Paladino</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
