<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tormenta RPG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'personagem.css' %}">
    <script src="{% static 'JS/personagem.js' %}"></script>

    <header>
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'imagens/icons/logo.png' %}" alt="Tormenta20" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'lista' %}">Personagem</a></li>
                <li><a href="#">Regras</a></li>
            </ul>
        </nav>
        <div class="header-login">
            {% if request.session.user_id %}
                <div class="dropdown">
                    <img src="{% static 'imagens/icons/perfil.png' %}" alt="Minha Conta" class="dropdown-toggle" id="dropdownMenuButton">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'dashboard' %}">Minha Conta</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'imagens/icons/login.png' %}" alt="Login">
                </a>
            {% endif %}
        </div>
    </header>

</head>
<body class="dashboard-body">
    <img src="{% static 'imagens/banners/background.png'%}" class="background">

    <main class="dashboard-main">
        <h1>Bem-vindo, {{ user.username }}!</h1>
        <p>Email cadastrado: {{ user.email }}</p>
        
        <a href="{% url 'logout' %}" class="logout-link">Sair</a>

    <h2>Suas Fichas de RPG</h2>
    <ul>
        <!-- Aqui você pode listar as fichas do usuário -->
        <li>Ficha 1</li>
        <li>Ficha 2</li>
        <li><a href="{% url 'lista' %}">Meus Personagens</a></li>

    </ul>
</body>
</html>
