<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tormenta20 - Home</title>
   
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'Index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
   
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'JS/carousel.js' %}"></script>
    <script src="{% static 'JS/Index.js' %}"></script>
    <script src="{% static 'JS/header.js' %}"></script>


    <header>
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'imagens/icons/logo.png' %}" alt="Tormenta20" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'lista' %}">Personagem</a></li>
                <li><a href="#">Regras</a></li>
            </ul>
        </nav>
        <div class="header-login">
            {% if request.session.user_id %}
                <!-- Usuário logado: Mostrar ícone de gerenciamento de conta -->
                <div class="dropdown">
                    <img src="{% static 'imagens/icons/perfil.png' %}" alt="Minha Conta" class="dropdown-toggle" id="dropdownMenuButton">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    </div>
                </div>
            {% else %}
                <!-- Usuário não logado: Mostrar ícone de login -->
                <a href="{% url 'login' %}">
                    <img src="{% static 'imagens/icons/login.png' %}" alt="Login">
                </a>
            {% endif %}
        </div>
    </header>
</head>
<body>

    <img src="{% static 'imagens/banners/background.png'%}" class="background">
 
    <main>
        <section class="carousel-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{% static 'imagens/Banners/tormenta19.png' %}" alt="Banner 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'imagens/Banners/tormenta20.png' %}" alt="Banner 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'assets/images/Banners/banner3.jpg' %}" alt="Banner 3">
                    </div>
                </div>
                <!-- Botões de navegação -->
                <div class="swiper-button-next" style="color: black;"></div>
                <div class="swiper-button-prev" style="color: black;"></div>
                <div class="swiper-pagination" style="color: black;"></div>
            </div>
        </section>
 
        <section class="grid-background">
            <div class="grid-nav">
                <img src="{% static 'imagens/Icons/white-smoke-wallpaper-abstract-desktop-background 1.png' %}" class="nav-background" alt="background">
                <a href="{% url 'regras' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/quest.png' %}" alt="Regras">
                    <span>Regras</span>
                <a href="{% url 'poderes' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/level.png' %}" alt="Magias">
                    <span>Poderes</span>
                </a>
                    <a href="{% url 'racas' %}" class="grid-item">
                    <img src="{% static 'imagens/icons/corpo-humano.png' %}" alt="Raças">
                    <span>Raças</span>
                </a>
                <a href="{% url 'itens' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/3209915.png' %}" alt="Itens">
                    <span>Itens</span>
                </a>
                <a href="{% url 'armas' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/sword.png' %}" alt="Armas">
                    <span>Armas</span>
                </a>
                <a href="{% url 'classes' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/swordsman.png' %}" alt="Classes">
                    <span>Classes</span>
                </a>
                <a href="{% url 'origens' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/map.png' %}" alt="Origens">
                    <span>Origens</span>
                </a>
                <a href="{% url 'deuses' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/2451272.png' %}" alt="Deuses">
                    <span>Deuses</span>
                </a>
                <a href="{% url 'atributos' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/academia.png' %}" alt="Atributos">
                    <span>Atributos</span>
                </a>
                <a href="{% url 'magias' %}" class="grid-item">
                    <img src="{% static 'imagens/Icons/magia.png' %}" alt="Magias">
                    <span>Magias</span>
                </a>
            </div>
        </section>
       
        <section>
            <div class="container">
                <img src="{% static 'imagens/Banners/Banner2.png' %}" class="banner" alt="Banner">
                <div class="races-section">
                    <div class="races-list">
                        <div class="races-icons">
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Anão.png' %}" id="Anão" alt="Anao">
                                <span>Anão</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Dahllan.png' %}" id="Dahllan" alt="Dhallan">
                                <span>Dhallan</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Elfo.png' %}" id="Elfo" alt="Elfo">
                                <span>Elfo</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Goblin.png' %}" id="Goblin" alt="Goblin">
                                <span>Goblin</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Golem.png' %}" id="Golem" alt="Golem">
                                <span>Golem</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Humano.png' %}" id="Humano" alt="Humano">
                                <span>Humano</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Hynne.png' %}" id="Hynne" alt="Hynne">
                                <span>Hynne</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Kliren.png' %}" id="Kliren" alt="Kliren">
                                <span>Kliren</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Lefou.png' %}" id="Lefou" alt="Lefou">
                                <span>Lefou</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Medusa.png' %}" id="Medusa" alt="Medusa">
                                <span>Medusa</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Minotauro.png' %}" id="Minotauro" alt="Minotauro">
                                <span>Minotauro</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Osteon.png' %}" id="Osteon" alt="Osteon">
                                <span>Osteon</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Qareen.png' %}" id="Qareen" alt="Qareen">
                                <span>Qareen</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Sílfide.png' %}" id="Sílfide" alt="Sílfide">
                                <span>Sílfide</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Suraggel.png' %}" id="Suraggel" alt="Suraggel">
                                <span>Suraggel</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Tritão.png' %}" id="Tritão" alt="Tritão">
                                <span>Tritão</span>
                            </div>
                            <div class="race">
                                <img src="{% static 'imagens/Icons/Races/Trog.png' %}" id="Trog" alt="Trog">
                                <span>Trog</span>
                            </div>
                        </div>
                    </div>
                    <div class="race-description">
                        <div class="basic">
                            <div class="Icon">
                                <img src="" alt="Raça selecionada" id="main-race-image">
                            </div>
                            <div class="caracteristicas">
                                <div>
                                  <img src="{% static 'imagens/icons/Movimento.png' %}">
                                  <p>movimento</p>
                                  <span>9 metros</span>
                                </div>
                                <div>
                                  <img src="{% static 'imagens/icons/Tamanho.png' %}">
                                  <p>tamanho</p>
                                  <span>minusculo</span>
                                </div>
                                <div>
                                  <img src="{% static 'imagens/icons/Visão.png' %}">
                                  <p>visão</p>
                                  <span>penumbra</span>
                                </div>
                                <div>
                                  <img src="{% static 'imagens/icons/Atributos.png' %}">
                                  <p>atributos</p>
                                  <span>carisma +2/destreza +1/força -2</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section>
            <div class="container">
                <div class="classe-icons">
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/wizard.png' %}" alt="Arcanista">
                        <span>Arcanista</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/barbarian (1).png' %}" alt="Barbaro">
                        <span>Barbaro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/jester.png' %}" alt="Bardo">
                        <span>Bardo</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/pirate.png' %}" alt="Bucaneiro">
                        <span>Bucaneiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/bow (1).png' %}" alt="Caçador">
                        <span>Caçador</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/knight (3).png' %}" alt="Cavaleiro">
                        <span>Cavaleiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/priest (1).png' %}" alt="Clerigo">
                        <span>Clerigo</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/druid.png' %}" alt="Druida">
                        <span>Druida</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/swordsman (1).png' %}" alt="Guerreiro">
                        <span>Guerreiro</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/alchemy (1).png' %}" alt="Inventor">
                        <span>Inventor</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/thief (1).png' %}" alt="Ladino">
                        <span>Ladino</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/martial.png' %}" alt="Lutador">
                        <span>Lutador</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/prince.png' %}" alt="Nobre">
                        <span>Nobre</span>
                    </div>
                    <div class="classe">
                        <img src="{% static 'imagens/Classes/knight (2).png' %}" alt="Paladino">
                        <span>Paladino</span>
                    </div>
                </div>
            </div>
        </section>
 
        <section>
            <div class="news">
                <img src="{% static 'imagens/Banners/News.png' %}">  
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <img src="{% static 'imagens/Banners/Banner20.png' %}">
            <a href="https://jamboeditora.com.br/" class="footer-logo">JAMBO</a>
            <a href="rpgtormenta2025@gmail.com" class="footer-email">rpgtormenta2025@gmail.com</a>
            <a href="#">@insta</a>
            <a href="#">termos de uso</a>
        </div>
    </footer>
</body>
</html>