.env
projetoint\__pycache__\*
projetoArton\__pycache__\*
users\__pycache__\*
projetoint\characters\__pycache__\*
projetoint\t20\__pycache__\*
projetoint\t20\migrations\*
projetoint\t20\migrations\__pycache__\*
projetoint\users\__pycache__\*