<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/classe.css' %}">
    {% load static %}

</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="classe-icons">
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/wizard (1).png" alt="Arcanista">
                        <span>Arcanista</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/barbarian (1).png" alt="Barbaro">
                        <span>Barbaro</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/jester.png" alt="Bardo">
                        <span>Bardo</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/pirate.png" alt="Bucaneiro">
                        <span>Bucaneiro</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/bow (1).png" alt="Caçador">
                        <span>Caçador</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/knight (3).png" alt="Cavaleiro">
                        <span>Cavaleiro</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/priest (1).png" alt="Clerigo">
                        <span>Clerigo</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/druid.png" alt="Druida">
                        <span>Druida</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/swordsman (1).png" alt="Guerreiro">
                        <span>Guerreiro</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/alchemy (1).png" alt="Inventor">
                        <span>Inventor</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/thief (1).png" alt="Ladino">
                        <span>Ladino</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/martial.png" alt="Lutador">
                        <span>Lutador</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/prince.png" alt="Nobre">
                        <span>Nobre</span>
                    </div>
                     <div class="classe">
                        <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Clasess/knight (2).png" alt="Paladino">
                        <span>Paladino</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>