<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Ficha.css' %}">



</head>
<body>
    <img src="{% static 'imagens/Banners/imagem.jpg' %}" alt="imagem" class="background-image" alt="Background">
    <main>
        <section>
            <div class="container">
                <div class="grid-personagem">
                    <div class="grid-perso-img">
                    <div class="personagem">
                        <div class="nome">
                            <span class="char-name">Nome</span>
                            <span class="char-ca">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Defesa.png">
                                CA: 18</span>
                          </div>                          
                        <div class="stats">
                          <div class="vida">
                            <span>Vida</span>
                            <p>50/50</p>
                          </div>
                          <div class="level">
                            Level: 8
                        </div>
                          <div class="mana">
                            <span>Mana</span>
                            <p>20/30</p>
                          </div>
                        </div>                       
                      </div>
                    </div>                  
                    <div class="Origem">
                        <h3>Origem</h3>
                        <p>Soldado</p>
                    </div>
                    <div class="Raça">
                        <h3>Raça</h3>
                        <p>Soldado</p>
                    </div>
                </div>
                <div class="grid-atributos">
                    <div class="Atributos">
                        <h3>Atributos</h3>
                        <div class="grid-superior-a">
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Força 512px.png">
                                <span>Força</span>
                                <span>07</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Constituicao.png">
                                <span>Constituição</span>
                                <span>13</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Destreza 512px.png">
                                <span>Destreza</span>
                                <span>14</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Inteligencia.png">
                                <span>Inteligencia</span>
                                <span>09</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Sabedoria.png">
                                <span>Sabedoria</span>
                                <span>14</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/Carisma.png">
                                <span>Carisma</span>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="classes">
                        <div>
                            <h3>
                            Classes
                            </h3>
                            <img url="">
                            <span>
                            08
                            </span>
                        </div>
                    </div>
                    <div class="Poderes">
                        <h3>Poderes</h3>
                        <ul>
                            <li>Esquiva</li>
                            <li>Escudo Arcano</li>
                            <li>Fulgor Solar</li>
                            <li>Vazio</li>
                            <li>Companheiro</li>
                            <li>Magia Feérica</li>
                        </ul>
                    </div>
                    <div class="deus">
                        <h3>Deus</h3>
                        <img url="" alt="">
                        <p>Soldado</p>
                    </div>
                </div>
            </div>
            <div class="Pericias">
                <h3>Perícias</h3>
                <table>
                    <tr>
                        <td>Fortitude</td> <td>+10</td>
                        <td>Nobreza</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Enganação</td> <td>+10</td>
                        <td>Misticismo</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Diplomacia</td> <td>+10</td>
                        <td>Luta</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Cura</td> <td>+10</td>
                        <td>Ladinagem</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Conhecimento</td> <td>+10</td>
                        <td>Jogatina</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Investigação</td> <td>+10</td>
                        <td>Guerra</td> <td>+10</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
</body>
</html>