<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Login.css' %}">
</head>
<body>
 
    <div class="background">
        <img src="{% static 'imagens/Banners/Wallpaper login.jpg' %}" alt="Wallpaper Login">
    </div>
 
    <div class="container">
        <h2>Redefinir Senha</h2>
 
 
        <form id="resetPasswordForm" method="POST" action="">
            {% csrf_token %}
            <label for="new_password" class="new_password">Nova Senha:</label>
            <input type="password" id="new_password" name="new_password" placeholder="Digite sua nova senha" required>
 
            <label for="confirm_password" class="new_password">Confirmar Senha:</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
 
            <button type="submit">Redefinir Senha</button>
        </form>
 
        <p><a href="{% url 'login' %}">Voltar ao Login</a></p>
    </div>
 
    <script src="{% static 'js/login.js' %}"></script>
 
</body>
</html>