<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tormenta RPG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Ficha.css' %}">
    <script src="{% static 'JS/personagem.js' %}"></script>
    <script src="{% static 'JS/imagem_preview.js' %}" ></script>
    <script src="{% static 'JS/poderes.js' %}"></script>
    <script src="{% static 'JS/header.js' %}"></script>



    
    <header>
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'imagens/icons/logo.png' %}" alt="Tormenta20" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'lista' %}">Personagem</a></li>
                <li><a href="#">Regras</a></li>
            </ul>
        </nav>
        <div class="header-login">
            {% if request.session.user_id %}
                <div class="dropdown">
                    <img src="{% static 'imagens/icons/perfil.png' %}" alt="Minha Conta" class="dropdown-toggle" id="dropdownMenuButton">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'imagens/icons/login.png' %}" alt="Login">
                </a>
            {% endif %}
        </div>
    </header>
</head>

<body class="dashboard-body">

    <img src="{% static 'imagens/banners/background.png'%}" class="background">

    <main class="dashboard-main">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
