<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tormenta RPG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="background">
        <img src="{% static 'imagens/Banners/Wallpaper-login.jpg' %}" alt="Background">
    </div>

    <header class="top-nav">
        <div class="logo">
            <img src="{% static 'imagens/Icons/logo.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'lista' %}">Personagem</a></li>
                <li><a href="#">Mesas</a></li>
                <li><a href="#">Regras</a></li>
            </ul>
        </nav>
        <div class="perfil">
            <div class="circle"></div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
