<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha</title>
    <link rel="stylesheet" href="/projetoint/projetoint/templetes/CSS/Ficha.css">

</head>
<body>
    <img src="/projetoint/projetoint/templetes/imagens/Imagens/Banners/imagem.jpeg" class="background-image" alt="Background">
    <main>
        <section>
            <div class="container">
                <div class="grid-personagem">
                    <div class="Personagem">
                        <div>
                            <h2>Nome</h2>
                            <img src="/projetoint/projetoint/templetes/imagens/Imagens/Fan-arts/imagem.png" alt="Imagem do personagem">
                            <p>Level: 8</p>
                        </div>
                    </div>
                    <div class="Origem">
                        <h3>Origem</h3>
                        <p>Soldado</p>
                    </div>
                    <div class="Raça">
                        <h3>Raça</h3>
                        <p>Soldado</p>
                    </div>
                </div>
                <div class="grid-atributos">
                    <div class="Atributos">
                        <h3>Atributos</h3>
                        <div class="grid-superior-a">
                            <div class="grid-a">
                                <img src="">
                                <span>Força</span>
                                <span>07</span>
                            </div>
                            <div class="grid-a">
                                <img src="">
                                <span>Constituição</span>
                                <span>13</span>
                            </div>
                            <div class="grid-a">
                                <img src="">
                                <span>Destreza</span>
                                <span>14</span>
                            </div>
                            <div class="grid-a">
                                <img src="">
                                <span>Inteligencia</span>
                                <span>09</span>
                            </div>
                            <div class="grid-a">
                                <img src="">
                                <span>Sabedoria</span>
                                <span>14</span>
                            </div>
                            <div class="grid-a">
                                <img src="/projetoint/projetoint/templetes/imagens/Imagens/Icons/Atributos/wisdom.png">
                                <span>Carisma</span>
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                    <div class="classes">

                    </div>
                    <div class="Poderes">
                        <h3>Poderes</h3>
                        <ul>
                            <li>Esquiva</li>
                            <li>Escudo Arcano</li>
                            <li>Fulgor Solar</li>
                            <li>Vazio</li>
                            <li>Companheiro</li>
                            <li>Magia Feérica</li>
                        </ul>
                    </div>
                    <div class="deus">
                        <h3>Deus</h3>
                        <img url="" alt="">
                        <p>Soldado</p>
                    </div>
                </div>
            </div>
            <div class="Pericias">
                <h3>Perícias</h3>
                <table>
                    <tr>
                        <td>Fortitude</td> <td>+10</td>
                        <td>Nobreza</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Enganação</td> <td>+10</td>
                        <td>Misticismo</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Diplomacia</td> <td>+10</td>
                        <td>Luta</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Cura</td> <td>+10</td>
                        <td>Ladinagem</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Conhecimento</td> <td>+10</td>
                        <td>Jogatina</td> <td>+10</td>
                    </tr>
                    <tr>
                        <td>Investigação</td> <td>+10</td>
                        <td>Guerra</td> <td>+10</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
</body>
</html>